<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="FacebookPhotoverifySuite" verbose="1">
  <test name="FacebookPhotoverifyTest">
    <classes>
       <class name="test.TestFaceBookPhotoMessage">
       </class>
    </classes>
  </test>
</suite>